---
layout: /page/default.pug
type: "sound-list"
sitemap: true
---

h1 SOUND ROOM
h3 音楽も色々と作ってます

ul.playlist
  - const data = mediaData.sound.music;
  each item in data.list
    li.button(data-title=`${item.title}` data-src=`${data.path}/${item.src}` onclick='audio_play(this)')
      .title
        h3 #{item.title}
      .audio.play
        != svgData.mapList.get(`${svgData.path}/audio/play.svg`)
        != svgData.mapList.get(`${svgData.path}/audio/pause.svg`)
