title #{title}
meta(name='description' content=`${site.description}`)
meta(name='author' content=`${site.author.name}`)
meta(property='og:title' content=`${site.title}`)
meta(property='og:description' content=`${site.description}`)
meta(property='og:url' content=`${link.getFullURL(url, page)}`)
meta(property='og:image' content=`${link.getFullURL(site.icon.path, page)}`)
meta(property='twitter:card' content='summary')
meta(property='twitter:site' content=`@${site.author.twitter.account}`)
meta(property='twitter:creater' content=`@${site.author.twitter.account}`)
link(rel="manifest" href="/manifest.json" crossorigin="anonymous")