title #{title}
meta(name='description' content=`${description}`)
meta(name='author' content=`${site.author.ame}`)
meta(property='og:title' content=`${site.title}`)
meta(property='og:description' content=`${site.description}`)
meta(property='og:url' content=`${url}`)
meta(property='og:image' content=`${site.icon.path}`)
meta(property='twitter:card' content='summary')
meta(property='twitter:site' content=`@${site.author.twitter.account}`)
meta(property='twitter:creater' content=`@${site.author.twitter.account}`)
