- const setupSound = page.data.setupSound || mediaData.sound.music.setupSound;
- const pageSection = `${section || title || url.match(/\/([^/]*)/)[1]}`
- const pageTitle = page.src.path.match(/^\/index$/) ? `${site.title} - ${site.short.description}` : `${title && (title != pageSection) ? `${title} - ` : ''}${pageSection.toUpperCase()} | ${site.title}`;
