---
layout: /page/default.pug
type: "page"
section: about
image: "/icons/icon.png"
variable: true
sitemap: true
---
include ../_includes/mixin/functions.pug

//- いろんなプロフィールをブロックごとにわけたいところ…
//- .profile
//-   +insertPageFromName("profile")
div
  h1 ABOUT
  h2 #{site.author.name}
  h3 #{site.author.ename}
  .overview
    .icon
      img.iconL(src=image style={"border-radius": "100px"})
      //- a(href=`https://twitter.com/${site.author.twitter.account}` target="_blank") @#{site.author.twitter.account}
    .text
      div
        p もふもふなキャラでほわほわした絵を描いてます！
        p
          a(href="/gallery") かわいい絵
          | が得意です！
        p 九州住み、ひつじだけどやぎ座
        //- p
        //-   a(href="/about/kouwtkz") » めぇのプロフィール
        p 
          a(href="/about/link") » めぇのリンク一覧
        p
          a(href="/about/contact") » めぇとコンタクト
        p
          a(href="/about/spec") » めぇのスペック
//-   div.spec
//-     div
//-       +insertMarkdown("workspec")


//- include ../_includes/insert/tweet.pug
