extends ../html
include ../components/gallery.pug

block page
  +customFilter(content)
  .gallery
    each grp in (childList || [{name: page.data.gallery || page.src.slug, title: page.data.h1, path: page.src.path, max: (page.data.max || 500), flags: page.data.flags || {}}])
      - const data = mediaData.gallery[grp.name];
      - const flags = {...{ moreLink: true }, ...(grp.flags || {})};
      if data
        .group(class=`${grp.name}`)
          .title
            if (flags.moreLink)
              a(href=`${grp.path}` data-barba-to-y=`.group.${grp.name||''}`)
                h1.anker #{(grp.title||data.title).toUpperCase()}
            else
              h1.anker #{(grp.title||data.title).toUpperCase()}
          +galleryList({ obj: data, grp: grp } )
      else
        - console.error(`error: artPageで${grp.name}が見つかりませんでした`)
